.select {
	max-width: 200px;
}

.select__current {
	border: 1px solid #000;
	padding: 10px;
	cursor: pointer;
}

.select__body {
	display: none;
	flex-direction: column;
	border: 1px solid #000;
	
}
.select__body.active {
	display: flex;
}

.select__input {
	padding: 10px;
	cursor: pointer;
}
input[type=radio]:checked + .select__input {
	background-color: #ccc;
}
.select__input:hover {
	background-color: #ccc;
}
.select input {
	display: none;
}
